### 최종 실습 프로젝트
- ecommerce_sales_data.csv 파일 활용

In [ ]:
import numpy as np
import pandas as pd

df = pd.read_csv('./data/ecommerce_sales_data.csv')

In [31]:

df.describe()

          OrderID    Quantity         Price   CustomerID
count  120.000000  120.000000    120.000000   120.000000
mean    60.500000    2.941667  25625.000000  1469.158333
std     34.785054    1.485481  14127.904624   272.327811
min      1.000000    1.000000   5000.000000  1007.000000
25%     30.750000    1.000000  13000.000000  1244.500000
50%     60.500000    3.000000  25000.000000  1491.000000
75%     90.250000    4.000000  38000.000000  1670.750000
max    120.000000    5.000000  50000.000000  1982.000000

당신은 한 온라인 쇼핑몰의 데이터 분석가로 고용되었다. 쇼핑몰의 판매 데이터를 분석하여 고객의 구매 패턴을 파악하고, 중요한 인사이트를 도출하는 것이 이번 프로젝트의 목표다. 이를 통해 향후 마케팅 전략을 제시하고자 한다. ecommerce_sales_data.csv 파일을 통해 주어진 데이터는 고객의 주문 기록, 상품 정보, 판매 데이터 등을 포함하고 있다. 주어진 데이터를 분석하여 아래의 질문에 답하라.

- **데이터 설명**:
    - **OrderID**: 주문 ID
    - **Product**: 주문한 상품 이름
    - **Category**: 상품의 카테고리 (예: Electronics, Clothing 등)
    - **Quantity**: 주문 수량
    - **Price**: 상품의 가격
    - **CustomerID**: 고객 ID
    - **BirthDate**: 고객 생일
    - **OrderDate**: 주문 날짜
    - **Country**: 주문한 고객의 국가

1. **데이터 탐색 및 전처리**
    1. 데이터셋을 로드하고 상위 5개의 데이터를 출력하세요.
    2. 결측값이 있는 열이 있는지 확인하고, 결측값이 있는 경우 적절한 방법으로 처리하세요.
    3. 각 열의 데이터 타입을 확인하고, **OrderDate** 열을 datetime 형식으로 변환하세요.

In [36]:
print(df.head(5))
print(df.isnull().sum())
df['OrderDate'] = pd.to_datetime(df['OrderDate'])
df['OrderDate']

   OrderID Product     Category  Quantity  Price  CustomerID   Birthdate  \
0        1     역사책        Books         5  37000        1071  1980-08-08
1        2      셔츠     Clothing         5  20000        1526  1967-08-09
2        3     노트북  Electronics         4   8000        1252  1973-04-07
3        4     자전거       Sports         1   8000        1670  1970-04-08
4        5     헤드폰  Electronics         3  26000        1838  1992-05-19

            OrderDate Country  TotalRevenue
0 2024-06-10 17:18:00      미국        185000
1 2023-11-18 18:45:00      독일        100000
2 2023-10-15 11:19:00      중국         32000
3 2024-07-19 02:19:00      일본          8000
4 2024-01-20 20:34:00    대한민국         78000
OrderID         0
Product         0
Category        0
Quantity        0
Price           0
CustomerID      0
Birthdate       0
OrderDate       0
Country         0
TotalRevenue    0
dtype: int64

0     2024-06-10 17:18:00
1     2023-11-18 18:45:00
2     2023-10-15 11:19:00
3     2024-07-19 02:19:00
4     2024-01-20 20:34:00
              ...
115   2024-03-01 16:57:00
116   2024-01-18 21:37:00
117   2024-09-29 12:27:00
118   2024-06-10 09:01:00
119   2024-06-29 10:28:00
Name: OrderDate, Length: 120, dtype: datetime64[ns]

2. **매출 분석**
    1. **매출액**(총 판매 금액)을 계산하는 새로운 열 `TotalRevenue`를 생성하세요.
        - 매출액 = `Quantity` * `Price`
    2. 월별 총 매출액을 집계하여 시각화하세요.
        - 힌트: `resample()`을 사용하여 월별로 데이터를 집계하세요.
    3. 카테고리별로 매출액이 가장 높은 상위 3개의 카테고리를 구하세요.
    4. 국가별 총 매출액을 계산하고, 매출액이 가장 높은 5개 국가를 출력하세요.

In [84]:
df['TotalRevenue'] = df['Quantity'] * df['Price']
print(df.set_index('OrderDate')['TotalRevenue'].resample('ME').sum()), print()
print(df.groupby('Category')['TotalRevenue'].sum().sort_values(ascending=False).head(3)), print()
print(df.groupby('Country')['TotalRevenue'].sum().sort_values(ascending=False).head(5)), print()

OrderDate
2023-10-31     392000
2023-11-30     995000
2023-12-31     920000
2024-01-31     905000
2024-02-29     565000
2024-03-31     703000
2024-04-30     288000
2024-05-31     930000
2024-06-30    1365000
2024-07-31     712000
2024-08-31     635000
2024-09-30     319000
2024-10-31     190000
Freq: ME, Name: TotalRevenue, dtype: int64

Category
Food           1966000
Electronics    1746000
Beauty         1493000
Name: TotalRevenue, dtype: int64

Country
미국      2238000
독일      1973000
중국      1766000
일본      1523000
대한민국    1419000
Name: TotalRevenue, dtype: int64

(None, None)

3. **고객 분석**
    1. 고객별로 총 매출액을 계산한 후, 상위 5명의 고객을 출력하세요.
    2. 주문 횟수가 가장 많은 상위 5명의 고객을 출력하세요.
    3. **연령대**에 따라 고객을 분류하고, 각 연령대별로 가장 많이 구매한 상품의 카테고리를 구하세요.
        - 힌트: 고객의 연령대는 따로 제공되지 않으므로, 가정 데이터를 추가해 임의로 분류할 수 있습니다.

In [45]:
print(df.groupby('CustomerID')['TotalRevenue'].sum().sort_values(ascending=False).head(5))
print(df['CustomerID'].value_counts().head(5))

# 3
df['Birthdate'] = pd.to_datetime(df['Birthdate'])
df['Age'] = 2024 - df['Birthdate'].dt.year
df['AgeGroup'] = pd.cut(df['Age'], 
                       bins=[0, 20, 40, 60],
                       labels=['20대 이하', '30~40대', '50대 이상'])
print(df.groupby(['AgeGroup', 'Category'], observed=True)['Quantity'].sum().reset_index().sort_values('Quantity', ascending=False).groupby('AgeGroup', observed=True).head(1))

CustomerID
1007    334000
1354    245000
1141    241000
1589    215000
1632    192000
Name: TotalRevenue, dtype: int64
CustomerID
1206    2
1278    2
1496    2
1007    2
1673    2
Name: count, dtype: int64
   AgeGroup Category  Quantity
8    30~40대     Food        48
11   50대 이상    Books        42
2    20대 이하     Food         6

4. **상품 분석**
    1. 가장 많이 판매된 상위 5개의 상품을 출력하세요.
    2. **카테고리별**로 가장 많이 판매된 상품을 찾아 출력하세요.
    3. **평균 구매 수량**이 가장 높은 상위 3개의 상품을 출력하세요.

In [51]:
print(df.groupby('Product')['Quantity'].sum().sort_values(ascending=False).head(5))
print(df.groupby(['Category', 'Product'])['Quantity'].sum().reset_index().sort_values('Quantity', ascending=False).groupby('Category').head(1))
print(df.groupby('Product')['Quantity'].mean().sort_values(ascending=False).head(3))

Product
셔츠     25
립스틱    22
소설     21
커피     20
역사책    20
Name: Quantity, dtype: int64
       Category Product  Quantity
10     Clothing      셔츠        25
1        Beauty     립스틱        22
7         Books      소설        21
23         Food      커피        20
14  Electronics     노트북        15
25       Sports    요가매트        12
Product
주스      5.0
자기계발    5.0
요가매트    4.0
Name: Quantity, dtype: float64

5. **시간 분석**
    1. 주문 날짜별로 **주별** 매출액을 계산하고 시각화하세요.
    2. 특정 기간(예: 2024년 1월 ~ 2024년 6월) 동안의 매출 추이를 분석하고 시각화하세요.
    3. 특정 국가에서 가장 많이 주문한 시간대를 분석하고, 이를 시각화하여 인사이트를 도출하세요.

In [64]:
print(df.resample('W', on='OrderDate')['TotalRevenue'].sum().reset_index())
print(df[(df['OrderDate'] >= '2024-01-01') & (df['OrderDate'] <= '2024-06-30')].resample('ME', on='OrderDate')['TotalRevenue'].sum().reset_index())

df['Hour'] = df['OrderDate'].dt.hour
print(df.groupby(['Country', 'Hour'])['OrderID'].count().reset_index().sort_values(['Country', 'OrderID'], ascending=[True, False]))

   Country  Hour  OrderID
6     대한민국    10        3
12    대한민국    20        2
0     대한민국     1        1
1     대한민국     2        1
2     대한민국     5        1
..     ...   ...      ...
70      중국    13        1
71      중국    14        1
72      중국    15        1
73      중국    16        1
75      중국    19        1

[78 rows x 3 columns]

6. **추가 분석**
    1. 고객의 **재구매율**을 분석하세요.
        - 재구매율 = 한 고객이 여러 번 주문한 비율
    2. 상품 카테고리별 **할인**을 적용한 판매 데이터를 사용하여 할인율이 높은 카테고리의 매출액을 분석하세요.

In [87]:
print(round(df['CustomerID'].value_counts()[df['CustomerID'].value_counts() >= 2].count() / df['CustomerID'].value_counts().count(), 2))
print(df.head(5))

category_revenue = df.groupby('Category')['TotalRevenue'].sum().sort_values()

discount_rates = {
    category_revenue.index[0]: 0.50,  
    category_revenue.index[1]: 0.40,  
    category_revenue.index[2]: 0.30,  
    category_revenue.index[3]: 0.20,  
    category_revenue.index[4]: 0.10,  
    category_revenue.index[5]: 0.00   
}

result = pd.DataFrame({
    '현재_매출액': category_revenue,
    '할인율': [discount_rates[cat] * 100 for cat in category_revenue.index],
})
result['할인_적용_후_매출액'] = result['현재_매출액'] * (1 - result['할인율']/100)
print(result.round(2))

0.08
   OrderID Product     Category  Quantity  Price  CustomerID  Birthdate  \
0        1     역사책        Books         5  37000        1071 1980-08-08
1        2      셔츠     Clothing         5  20000        1526 1967-08-09
2        3     노트북  Electronics         4   8000        1252 1973-04-07
3        4     자전거       Sports         1   8000        1670 1970-04-08
4        5     헤드폰  Electronics         3  26000        1838 1992-05-19

            OrderDate Country  TotalRevenue  Age AgeGroup  Hour  Discount
0 2024-06-10 17:18:00      미국        185000   44   50대 이상    17       0.0
1 2023-11-18 18:45:00      독일        100000   57   50대 이상    18       0.0
2 2023-10-15 11:19:00      중국         32000   51   50대 이상    11       0.0
3 2024-07-19 02:19:00      일본          8000   54   50대 이상     2       0.0
4 2024-01-20 20:34:00    대한민국         78000   32   30~40대    20       0.0
              현재_매출액   할인율  할인_적용_후_매출액
Category
Sports       1057000  50.0     528500.0
Clothing     1279000  40.0     767400.0
Books        1378000  30.0     964600.0
Beauty       1493000  20.0    1194400.0
Electronics  1746000  10.0    1571400.0
Food         1966000   0.0    1966000.0